{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{template "title" .}}</title>

    <meta name="keywords" content="git code forge repo repository" />

    {{template "meta" .}}

    <link rel="stylesheet" href="https://pico.sh/smol.css" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header>{{template "header" .}}</header>
    <hr />
    <main>{{template "content" .}}</main>
    <hr />
    <footer>{{template "footer" .}}</footer>
  </body>
</html>
{{end}}
