{{template "base" .}}
{{define "title"}}{{.Commit.Summary}} - {{.Repo.RepoName}}@{{.CommitID}}{{end}}
{{define "meta"}}
<link rel="stylesheet" href="/syntax.css" />
{{end}}

{{define "content"}}
  <dl>
    <dt>commit</dt>
    <dd><a href="{{.CommitURL}}">{{.CommitID}}</a></dd>

    <dt>parent</dt>
    <dd><a href="{{.ParentURL}}">{{.Parent}}</a></dd>

    <dt>author</dt>
    <dd>{{.Commit.Author.Name}}</dd>

    <dt>date</dt>
    <dd>{{.Commit.Author.When}}</dd>
  </dl>

  <pre>{{.Commit.Message}}</pre>

  <div class="box mono">
    <div>
      <strong>{{.Diff.NumFiles}}</strong> files changed,&nbsp;
      <span class="color-green">+{{.Diff.TotalAdditions}}</span>,
      <span class="color-red">-{{.Diff.TotalDeletions}}</span>
    </div>

    <div>
    {{range .Diff.Files}}
      <div class="my-sm">
        <span>{{.FileType}}</span>
        <a href="#diff-{{.Name}}">{{.Name}}</a>
      </div>
    {{end}}
    </div>
  </div>

  {{range .Diff.Files}}
    <div id="diff-{{.Name}}" class="flex justify-between mono">
      <a href="#diff-{{.Name}}">{{.FileType}} {{if eq .FileType "R"}}{{.OldName}} => {{end}}{{.Name}}</a>

      <div>
        <span class="color-green">+{{.NumAdditions}}</span>,
        <span class="color-red">-{{.NumDeletions}}</span>
      </div>
    </div>

    {{.Content}}
  {{end}}
{{end}}
