{{template "base" .}}
{{define "title"}}commit log{{end}}

{{define "content"}}
  {{template "header" .}}

  <dl>
      <dt>commit</dt>
      <dd><a href="{{.Data.CommitURL}}">{{.Data.Commit.ID}}</a></dd>

      <dt>parent</dt>
      <dd><a href="{{.Data.ParentURL}}">{{.Data.Parent}}</a></dd>

      <dt>author</dt>
      <dd>{{.Data.Commit.Author.Name}}</dd>

      <dt>date</dt>
      <dd>{{.Data.Commit.Author.When}}</dd>
  </dl>

  <pre>{{.Data.Commit.Message}}</pre>

  <div class="box mono">
    <div>
      <strong>{{.Data.Diff.NumFiles}}</strong> files changed,&nbps;
      <span class="color-green">+{{.Data.Diff.TotalAdditions}}</span>,
      <span class="color-red">-{{.Data.Diff.TotalDeletions}}</span>
    </div>

    <div>
    {{range .Data.Diff.Files}}
      <div>
        <span>{{.FileType}}</span>
        <span>{{.Name}}</span>
      </div>
    {{end}}
    </div>
  </div>

  {{range .Data.Diff.Files}}
    <div class="flex justify-between mono">
      <span>{{.FileType}} {{.OldName}} => {{.Name}}</span>
      <div>
        <span class="color-green">+{{.NumAdditions}}</span>,
        <span class="color-red">-{{.NumDeletions}}</span>
      </div>
    </div>

    {{.Content}}
  {{end}}
{{end}}
