{{template "base" .}}
{{define "title"}}{{.Path}}@{{.RevData.Name}}{{end}}
{{define "meta"}}
<link rel="stylesheet" href="/syntax.css" />
{{end}}

{{define "content"}}
  <div class="text-md">
    {{range .Crumbs}}
      <a href="{{.URL}}">{{.Text}}</a> {{if .IsLast}}{{else}}/{{end}}
    {{end}}
  </div>

  <h2 class="text-lg">{{.Name}}</h2>

  {{.Contents}}
{{end }}
