{{template "base" .}}
{{define "title"}}{{.Path}}@{{.RevData.Name}}{{end}}
{{define "meta"}}
<link rel="stylesheet" href="/syntax.css" />
{{end}}

{{define "content"}}
  <h2 class="text-lg">{{.Path}}</h2>
  {{.Contents}}
{{end }}
