{{define "header"}}
<div class="flex flex-col gap-2">
  <h1 class="text-xl flex gap p-0">
    {{if .SiteURLs.HomeURL}}
      <a href="{{.SiteURLs.HomeURL}}">repos</a>
      <span>/</span>
    {{end}}
    <span>{{.Repo.RepoName}}</span>
  </h1>

  <nav class="text-lg">
    <a href="{{.SiteURLs.SummaryURL}}">summary</a> |
    <a href="{{.SiteURLs.RefsURL}}">refs</a> |
    <span class="font-bold">{{.RevData.Name}}</span> |
    <a href="{{.RevData.TreeURL}}">code</a> |
    <a href="{{.RevData.LogURL}}">commits</a>
  </nav>

  <div>
    <div class="text-lg">{{.Repo.Desc}}</div>
    <pre class="m-0">git clone {{.SiteURLs.CloneURL}}</pre>
  </div>
</div>
{{end}}
