{{template "base" .}}

{{define "title"}}commits - {{.Repo.RepoName}}@{{.RevData.Name}}{{end}}
{{define "meta"}}{{end}}

{{define "content"}}
  <div class="group-2">
    <div class="box sticky flex items-center gap border-visited flex-wrap" style="margin: 0 !important;">
      <code>{{.RevData.Name}}</code>
      <div>
        <span class="font-bold">{{.NumCommits}}</span> commits
        {{if and .TotalCommits (ne .NumCommits .TotalCommits)}}
          <span class="text-sm">({{.NumCommits}} out of {{.TotalCommits}} generated)</span>
        {{end}}
      </div>
    </div>

    {{range .Logs}}
      <div>
        <div class="flex items-center gap mb text-sm">
          <a href="{{.URL}}" class="mono">{{.ShortID}}</a>

          <div class="flex items-center gap-xs">
            <span>{{.AuthorStr}}</span>
            <span>&nbsp;&centerdot;&nbsp;</span>
            <span>{{.WhenStr}}</span>
          </div>

          {{range .Refs}}
            {{if .URL}}
              <code>
                <a href="{{.URL}}">{{.Refspec}}</a>
              </code>
            {{else}}
              <code>{{.Refspec}}</code>
            {{end}}
          {{end}}
        </div>

        <div>
          <pre class="m-0 white-space-bs">{{.Message}}</pre>
        </div>
      </div>
    {{end}}
  </div>
{{end}}
