{{template "base" .}}

{{define "title"}}commits - {{.Repo.RepoName}}@{{.RevData.Name}}{{end}}
{{define "meta"}}{{end}}

{{define "content"}}
  <div class="group-2">
    <div><span class="font-bold">({{.NumCommits}})</span> commits</div>
    {{range .Logs}}
      <div>
        <div class="flex justify-between items-center">
          <a href="{{.URL}}" class="mono">{{.ShortID}}</a>

          <div class="mono">
            {{range .Refs}}
              {{if .URL}}
                <a href="{{.URL}}">({{.Refspec}})</a>
              {{else}}
                ({{.Refspec}})
              {{end}}
            {{end}}
          </div>
        </div>

        <div class="flex items-center gap-xs text-sm">
          <span>{{.AuthorStr}}</span>
          <span>&nbsp;&centerdot;&nbsp;</span>
          <span>{{.WhenStr}}</span>
        </div>

        <div>
          <pre class="m-0 white-space-bs">{{.Message}}</pre>
        </div>
      </div>
    {{end}}
  </div>
{{end}}
