{{template "base" .}}

{{define "title"}}refs{{end}}

{{define "content"}}
  {{template "header" .}}

  <h2 class="text-md">branches</h2>
  <ol>
  {{range .Data.Branches}}
    <li>{{.Refspec}}</li>
  {{end}}
  </ol>

  <h2 class="text-md">tags</h2>
  <ol>
  {{range .Data.Tags}}
    <li>{{.Refspec}}</li>
  {{end}}
  </ol>
{{end}}
