{{template "base" .}}

{{define "title"}}refs{{end}}

{{define "content"}}
  {{template "header" .}}

  <h2 class="text-md font-bold">refs</h2>
  <ul>
  {{range .Data.Refs}}
    {{if .URL}}
      <li><a href="{{.URL}}">{{.Refspec}}</a></li>
    {{else}}
      <li>{{.Refspec}}</li>
    {{end}}
  {{end}}
  </ol>
{{end}}
