{{template "base" .}}

{{define "title"}}refs - {{.Repo.RepoName}}{{end}}
{{define "meta"}}{{end}}

{{define "content"}}
  <h2>refs</h2>

  <div class="box" style="padding: 0 !important;">
    {{range .Refs}}
      <div class="flex justify-between items-center gap-2 py px tree-row border-b">
        {{if .URL}}
          <div><a href="{{.URL}}">{{.Refspec}}</a></div>
        {{else}}
          <div>{{.Refspec}}</div>
        {{end}}
      </div>
    {{end}}
  </div>
{{end}}
