{{template "base" .}}

{{define "title"}}{{.Repo.RepoName}}{{end}}
{{define "meta"}}
<link rel="stylesheet" href="{{.Repo.RootRelative}}syntax.css" />
{{end}}

{{define "content"}}
  {{if .SiteURLs.CloneURL}}
    <div class="box sticky border-visited mono">git clone {{.SiteURLs.CloneURL}}</div>
  {{end}}

  {{.Readme}}
{{end}}
