{{template "base" .}}

{{define "title"}}tree{{end}}

{{define "content"}}
  {{template "header" .}}

  <div>
  {{range .Data.Tree}}
    <div class="flex justify-between items-center gap my-sm border-b">
      <div class="flex-1">
        <a href="{{.URL}}">{{.Path}}</a>
      </div>

      <div class="flex items-center gap">
        {{if $.Repo.HideTreeLastCommit}}
        {{else}}
        <div class="flex-1">
          <a href="{{.CommitURL}}" title="{{.Summary}}">{{.When}}</a>
        </div>
        {{end}}
        <div class="tree-size">
          {{if .IsTextFile}}{{.NumLines}} L{{else}}{{.Size}}{{end}}
        </div>
      </div>
    </div>
  {{end}}
  </div>
{{end}}
