{{template "base" .}}

{{define "title"}}tree{{end}}

{{define "content"}}
  {{template "header" .}}

  <div>
  {{range .Data.Tree}}
    <div class="flex justify-between">
      <div class="flex-1">
        <a href="{{.URL}}">{{.Path}}</a>
      </div>

      <div class="flex">
        <div>
          <a href="{{.CommitURL}}">{{.When}}</a>
        </div>
        <div class="mono font-bold">
          L{{.NumLines}}
        </div>
      </div>
    </div>
  {{end}}
  </div>
{{end}}
