{{template "base" .}}

{{define "title"}}tree{{end}}

{{define "content"}}
  {{template "header" .}}

  <table>
    <tbody>
    {{range .Data.Tree}}
      <tr>
        <td>
          <a href="{{.URL}}">{{.Path}}</a>
        </td>
        <td>
          <a href="{{.CommitURL}}">{{.Desc}}</a>
        </td>
        <td>
          {{.When}}
        </td>
        <td class="mono font-bold">
          L{{.NumLines}}
        </td>
      </tr>
    {{end}}
    </tbody>
  </table>
{{end}}
