pre {
  border: 1px solid var(--border);
  padding: var(--grid-height);
}

body {
  max-width: 900px;
}

.border-b {
  border-bottom: 1px solid var(--border);
}

.border-b:last-child {
  border-bottom: 0;
}

.box {
  margin: 1rem 0;
  padding: var(--grid-height);
  border: 1px solid var(--border);
}

.tree-size {
  width: 60px;
  text-align: right;
}

.tree-path {
  text-wrap: wrap;
}

.diff-file {
  align-items: center;
  height: 62px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
}

.white-space-bs {
  white-space: break-spaces;
}

.mb-0 {
  margin-bottom: 0;
}

@media only screen and (max-width: 900px) {
  .tree-commit {
    display: none;
  }
}
