.border-b {
  border-bottom: 1px solid var(--grey);
}

body {
  max-width: 900px;
}

.box {
  margin: 1rem 0;
}

.tree-size {
  width: 60px;
  text-align: right;
}

.tree-path {
  text-wrap: wrap;
}

.tree-row:hover {
  background-color: var(--grey);
}

@media only screen and (max-width: 900px) {
  .tree-commit {
    display: none;
  }
}
